@use './../../styles/variables.scss' as *;

.settingsMenu {
	position: absolute;
	display: flex;
	flex-direction: column;
	bottom: 10px;
	right: 10px;
	padding: 10px;
	gap: 20px;

	.toggleMenu {
		display: flex;
		flex-direction: column;
		gap: 20px;
		position: relative;
		opacity: 0;
		pointer-events: none;
		transform: translateY(50px);
		transition: all  0.3s ease;
	}
	.toggleMenu.show {
		opacity: 1;
		transform: translateY(0);
		pointer-events: auto;
	}

	.icon {
		font-size: 30px;
		color: $base-text-color;
	}
	.menuIcon {
		background-color: transparent;
		border: none;
		cursor: pointer;
	}
}
