$background-color: linear-gradient(135deg, #1e2024, #2b2f38);
$base-font: "Roboto", sans-serif;
$base-text-color: rgb(227, 227, 227);
$base-font-size: 16px;
$background-pattern: url("https://www.transparenttextures.com/patterns/asfalt-dark.png");
