.settingsPage {
    display: flex;
    gap: 30px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 60vh;

    .infoText {
        margin: 0px 20px 0px 20px;
        text-align: center;
        width: 70%;
        line-height: 1.8;
    }
}