.authPageWrapper {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	flex-direction: column;
	gap: 100px;
	.authForm {
		display: flex;
		justify-content: center;
		flex-direction: column;
		gap: 50px;
		align-items: center;
		position: relative;
		.errorMessage {
			color: rgb(234, 21, 21);
			position: absolute;
			bottom: -30px;
		}
		.fieldWrapper {
			position: relative;
			display: flex;
			align-items: center;
			justify-content: center;
		}
	}
	.googleButton {
		display: flex;
		align-items: center;
		justify-content: center;
		gap: 8px;
		padding: 10px 16px;
		svg {
			font-size: 20px;
		}
	}
	.authRedirect {
		gap: 10px;
		a {
			display: flex;
			flex-direction: column;
			text-align: center;
			color: #4285f4;
			text-decoration: none;
			font-weight: 500;
			cursor: pointer;
			transition: color 0.2s ease;
			padding: 10px;
		}
	}
}
